.bundle
log/*.log
tmp/cache
tmp/pids
tmp/sass-cache
tmp/sessions
tmp/sockets
coverage/
coverage.data
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/scaffold.css
public/stylesheets/screen.css
config/development.yml
config/production.yml
config/database.yml
config/deploy.rb
.DS_Store
config/initializers/secret_token.rb
