.signin_paper:before, .signin_paper:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
	z-index: -1;
}
.signin_paper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.signin_paper_wrapper {
  padding-top: 30px;
  clear: both;
  text-align: center;
}

.signin_paper {
  font-family: 'Nothing You Could Do', cursive;
  width: 640px;
  position: relative;
  left:50%;
//  top:50%;
  margin: 0 0 0 -320px;
  @include box-shadow(rgba(0,0,0,0.8) 0px 0px 5px);
  @include background(image-url("old_mathematics.png"));
  .signin_paper_header {
    @include background(rgba(0,0,0,0.05));
    h2 {    
      padding: 10px;
      margin-top: 0px;
    }
  }
  #content {
    font-size: 18px;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    form {
      text-align: left;
      margin: 10px;
      font-size: 20px;
      input {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}
.blurb {
  text-align: left;
}
#form_container {
  @include background(rgba(255,255,255,0.3));
  margin: 15px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #ddd;
  @include border-radius;
}