<div class="signin_paper_wrapper">
  <div class="signin_paper"> 
    <div class="signin_paper_header">   
      <h2>Reset your password</h2>
    </div>
    <div id="content">
      <div id="form_container">
        <% form_tag users_send_password_reset_url do %>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
          <%= submit_tag "Send me the Password Reset instructions" %>
        <% end %>
      </div>
    </div>
  </div>
</div>