<div class="signin_paper_wrapper">
  <div class="signin_paper"> 
    <div class="signin_paper_header">   
      <h2>Password Reset Instructions Sent!</h2>
    </div>
    <div id="content">
      <div id="form_container">
        <p>
        	We've sent an email to <%= @user.email %> with instructions on how to reset your password. 
        	You should get this email soon. Click on the link inside and create a new password.
        </p>
        <p>
          If you don't click the link, your password will remain untouched.
        </p>
      </div>
    </div>
  </div>
</div>